/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FONT  */

@font-face {
    font-family: Quicksand;
    src: url(../assets/Quicksand-Medium.ttf);
}
@font-face {
    font-family: bebas;
    src: url(../assets/Bebas_Neue/BebasNeue-Regular.ttf);
}

/* NAVBAR */

.navbar{
    height: 100px; 
    margin: 0px;
    padding: 0px;      
}
.container-fluid {
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    height: 100px;
    padding-left: 30px; 
    text-decoration: none;
     
}
a:visited {
  color: rgb(255, 255, 255);
}
.nav-item{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  align-items: center;
  letter-spacing: 1px;

}


/* FOOTER */

.footer-distributed{
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font-family: Quicksand;
  font-size: 16px;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
  
}

section {
  width: 100%;
  display: inline-block;
  background: rgb(255, 255, 255)S;
  height: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  
}

.footer-distributed .footer-left{
  float: left;
}

.footer-distributed h3{
  color:  rgb(255, 255, 255);
  text-shadow:2px 2px rgb(140, 140, 140);
  font-family: bebas;
  font-size: 50px;
  margin: 0 0 10px;
}

.footer-distributed .footer-links{
  color:  rgb(255, 255, 255);
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons .facebook {
    
    width: 35px;
    height: 35px;

}

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: rgb(255, 255, 255);
}

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  rgb(255, 255, 255);

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  rgb(140, 140, 140);
}

.footer-distributed ::-moz-placeholder {
  color:  rgb(140, 140, 140);
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  rgb(255,255,255);
  box-shadow: 7px 6px 13px -2px rgba(0,0,0,0.73);
  color: rgb(223, 165, 164);
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;

}

  
/* MEDIA QUERY - MOBILE */

@media (max-width : 768px){
    /* header */
   
    header .container{
        width: 100px;
        height: 90px;
        margin: 5px;
        margin-top: 15px;
    }
    .service{
      width: 350px;
      height: auto;
    }
    
}

@media (max-width: 1000px) {

    .footer-distributed {
      font: bold 14px sans-serif;
    }
    .footer-distributed .footer-company-name{
      font-size: 12px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea{
      width: 250px;
    }
    .footer-distributed form button{
      padding: 10px 35px;
    }

    .footer-distributed{
        padding: 30px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }
    .footer-distributed form{
        margin-top: 30px;
    }
    .footer-distributed form{
        display: block;
    }
    .footer-distributed form button{
        float: none;
    }
    }
    .atencion{
        max-width: 200px;
        display: block;
        margin: 0px auto;
           
}

/* INDEX */


.hero{
    font-size: 50px;
    font-family: Bebas;
    text-align: center;
    padding: 50px;
    color: rgb(223, 165, 164);
    text-shadow:2px 2px rgb(140, 140, 140);
}
.hero:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    }
.carousel-item{
    height: 350px;
}  
.introduccion{
    margin: 35px;
    font-size: 20px;
    font-family: Quicksand;
    text-align: center;
    color: rgb(51, 47, 44);   
}

.atencion{
    background-image: url(../imagenes/WEB.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: 0px;
    margin-bottom: 50px; 
}

/* CONOCENOS */
.body{
  display: flex;
  flex-direction: column;
  min-height: 100v;
}
.img{
  background-color: rgb(255,255,255);
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px; 
}
.service{
  background-color: rgb(255, 255, 255);
  margin: 30px;
  font-size: 20px;
  font-family: Quicksand;
  text-align: center;
  color: rgb(51, 47, 44);
  width: 95%;
  height: auto;
  margin: 25px;
  padding: 25px;

}
h3{
  font-size: 40px;
  font-weight: 400;
  font-family: Bebas;
  text-align: center;
  padding: 10px;
  color: rgb(223, 165, 164);
  text-shadow:2px 2px rgb(140, 140, 140);
}

/* CLIENTES */


h1 {
  font-size: 90px;
  font-family: Bebas;
  text-align: center;
  padding: 50px;
  margin: 25;
  color: rgb(223, 165, 164);
  text-shadow:2px 2px rgb(140, 140, 140);
}
.card {
  border-radius: 20px;
  background-color:  rgb(255,255,255);
  box-shadow: 7px 6px 13px -2px rgba(0,0,0,0.73);
  padding: 10px;
  margin-bottom: 15px;
  gap: 8px;
  
  
}
.card-tittle{
  color: rgb(51, 47, 44);
  font-family: Quicksand;
  font-size: 20px;
  margin-bottom: 10px;
}
.sub-tittle{
  color: rgb(51, 47, 44);
  font-family: Quicksand;
  font-size: 15px;
  margin-bottom: 15px;
}


/* VINILOS */

#servicios {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicios h2 {
  color: rgb(223, 165, 164);
  font-size: 50px;
  font-family: Bebas;
  text-shadow:2px 2px rgb(140, 140, 140);
  margin-bottom: 25px;
}

#servicios p{
  color: rgb(51, 47, 44);
  font-size: 20px;
  font-family: Quicksand;
  margin-bottom: 20x;

}
 

.product_formulario{
  font-family: Quicksand;
  color: rgb(51, 47, 44);
  border-radius: 10px;
  background-color:  rgb(255,255,255);
  box-shadow: 7px 6px 13px -2px rgba(0,0,0,0.73);
  padding: 12px;
  margin: 25px;

}

input{
  font-family: Quicksand;
  background-color: rgb(255, 255, 255); 
  width: 300px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 2px; 
  border-color: rgb(223, 165, 164); 
 padding: 5px;
}

textarea{
  font-family: Quicksand;
  background-color: rgb(255, 255, 255); 
  width: 300px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 2px; 
  border-color: rgb(223, 165, 164);  
  padding-left: 5px; 
}
label{
  display: block; 
  float: center;  

} 

button p{
  border-radius: 3px;
  background-color:  rgb(255,255,255);
  color: rgb(223, 165, 164);
  padding: 20px;
  font-weight: bold;
} 
p{
  font-family: Quicksand;
  font-size: 14px; 
  color: rgb(51, 47, 44); 
} 


/* TIENDA  */


.title{
  text-align: center;
  font-size: 4rem;
  font-family: Bebas;
  text-align: center;
  color: rgb(223, 165, 164);
  text-shadow:2px 2px rgb(140, 140, 140);
}
.card-img-top {
  height: auto;
  width: 200px;
}


/* UNITE */

.pag-unite{
  background-color: rgb(200, 200, 200);
  background-image: url(../imagenes/backgroundpng.png);
  background-repeat: repeat;
}
.contact_formulario{ 
  display: flex;
  justify-content:center ;
  text-align: center;
  font-family: Quicksand;
  width: auto; 
  height: 750px;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: rgb(255, 255, 255); 
  box-shadow: 7px 6px 13px -2px rgba(0,0,0,0.73);
 
} 
h5{
  text-align: center;
  font-size: 50px;
  font-family: Bebas;
  text-align: center;
  color: rgb(223, 165, 164);
  text-shadow: 2px 2px rgb(120, 120, 120);
  margin: 25px;
}




