@font-face {
  font-family: Quicksand;
  src: url(../assets/Quicksand-Medium.ttf); }

@font-face {
  font-family: bebas;
  src: url(../assets/Bebas_Neue/BebasNeue-Regular.ttf); }

h1, h2, h3, h5 {
  color: #dfa4a5;
  text-align: center;
  font-family: Bebas;
  margin-bottom: 10px;
  font-size: 50px; }

h3 {
  font-size: 40px; }

h5 {
  font-size: 30px;
  margin: 5px; }

p {
  font-family: Quicksand;
  font-size: 20px;
  color: gray;
  text-align: center;
  margin: 5px;
  padding: 25px; }

.navbar-brand {
  background-image: url(/imagenes/logopng.png); }

.container-fluid {
  width: 100%;
  height: 80px; }

.nav-link {
  font-family: Quicksand;
  color: white; }
  .nav-link:hover {
    background-color: #000000;
    -moz-opacity: 0.5;
    opacity: 0.3; }

footer .me-3 {
  font-family: Quicksand; }

footer .btn btn-outline-light btn-rounded, .btn footer btn-outline-secondary btn-outline-light btn-rounded {
  border-radius: 20px; }

.hero {
  position: relative;
  display: inline-block;
  text-align: center; }
  .hero .hero--text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; }

.atencion {
  background-image: url(/imagenes/WEB.png);
  background-repeat: no-repeat;
  width: 100%;
  margin: 10px;
  padding: 5px; }

.img {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px; }

.service {
  width: 95%;
  height: auto;
  margin: 15px;
  padding: 15px; }

#servicios {
  text-align: center; }

.contact_formulario {
  box-shadow: 9px 11px 20px 5px rgba(0, 0, 0, 0.62);
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center; }

input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding: 5px; }

textarea {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding-left: 5px; }

label {
  display: block;
  float: center; }

.btn, .btn btn-outline-secondary {
  text-align: center;
  border-radius: 10px;
  box-shadow: 9px 11px 20px 5px rgba(0, 0, 0, 0.62);
  background-color: #dfa5a4;
  justify-content: center; }

.card h-100 {
  margin-bottom: 15px; }

.pag-unite {
  background-color: #c8c8c8;
  background-image: url(../imagenes/backgroundpng.png);
  background-repeat: repeat; }

.card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 7px 6px 13px -2px rgba(0, 0, 0, 0.73);
  padding: 10px;
  margin-bottom: 15px;
  gap: 8px;
  height: 350px; }

.card-img-top {
  width: 110px;
  height: auto;
  align-self: center; }
  .card-img-top:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.card-text {
  padding: 0px;
  margin: 0px;
  text-align: center; }

.button {
  text-align: center; }

.card-footer {
  background-color: white;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  padding: 0px; }
