.colorgb {
  background-color: #dfa5a4; }

.container-fluid {
  height: 100px;
  margin: 0px;
  padding: 0px; }
  .container-fluid .collapse navbar-collapse {
    height: 150px; }
  .container-fluid .navbar-brand {
    margin-left: 15px; }
  .container-fluid .nav-item {
    font-size: 19px;
    color: white;
    font-family: Quicksand; }
    .container-fluid .nav-item a:hover {
      background-color: rgba(0, 0, 0, 0.3); }

footer .me-3 {
  font-family: Quicksand; }

footer .btn btn-outline-light btn-rounded {
  border-radius: 20px;
  background-color: #332f2c; }

@font-face {
  font-family: Quicksand;
  src: url(../assets/Quicksand-Medium.ttf); }

@font-face {
  font-family: bebas;
  src: url(../assets/Bebas_Neue/BebasNeue-Regular.ttf); }

h1 {
  font-size: 70px;
  font-family: Bebas;
  text-align: center;
  padding: 50px;
  margin: 20;
  color: #dfa5a4;
  text-shadow: 2px 2px #8c8c8c; }

h2 {
  color: #dfa5a4;
  text-align: center;
  font-size: 50px;
  font-family: Bebas;
  text-shadow: 2px 2px #8c8c8c;
  margin-bottom: 10px; }

h3 {
  font-size: 40px;
  font-weight: 400;
  font-family: Bebas;
  text-align: center;
  padding: 10px;
  color: #dfa5a4;
  text-shadow: 2px 2px #8c8c8c; }

h5 {
  text-align: center;
  font-size: 50px;
  font-family: Bebas;
  text-align: center;
  color: #dfa5a4;
  text-shadow: 2px 2px #8c8c8c;
  margin: 5px; }

p {
  font-family: Quicksand;
  font-size: 20px;
  color: #332f2c;
  text-align: center;
  margin: 5px;
  padding: 25px; }

.atencion {
  background-image: url(/imagenes/WEB.png);
  background-repeat: no-repeat;
  width: 100%; }

.body {
  display: flex;
  flex-direction: column;
  min-height: 100v; }

.img {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px; }

.service {
  background-color: white;
  width: 95%;
  height: auto;
  margin: 15px;
  padding: 15px; }

#servicios {
  text-align: center; }

.contact_formulario {
  background-color: white;
  box-shadow: 7px 6px 13px -2px rgba(0, 0, 0, 0.73);
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center; }

input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfa5a4;
  padding: 5px; }

textarea {
  font-family: Quicksand;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfa5a4;
  padding-left: 5px; }

label {
  display: block;
  float: center; }

.btn btn-outline-secondary {
  text-align: center; }
  .btn btn-outline-secondary a:active {
    color: #ed6a5e; }

.card h-100 {
  margin-bottom: 15px; }

.pag-unite {
  background-color: #c8c8c8;
  background-image: url(../imagenes/backgroundpng.png);
  background-repeat: repeat; }

.card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 7px 6px 13px -2px rgba(0, 0, 0, 0.73);
  padding: 10px;
  margin-bottom: 15px;
  gap: 8px;
  height: 350px; }

.card-img-top {
  width: 110px;
  height: auto;
  align-self: center; }
  .card-img-top:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.card-text {
  padding: 0px;
  margin: 0px;
  text-align: center; }

.button {
  text-align: center; }

.card-footer {
  background-color: white;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  padding: 0px; }
