.card {
    border-radius: 20px;
    background-color:  rgb(255,255,255);
    box-shadow: 7px 6px 13px -2px rgba(0,0,0,0.73);
    padding: 10px;
    margin-bottom: 15px;
    gap: 8px;
    height: 350px;

}
.card-img-top{
    width: 110px;
    height: auto;
    align-self: center;
    &:hover {
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
        }
    
}
.card-text{
    padding: 0px;
    margin: 0px;
    text-align: center;
}


.button{
    text-align: center;
  }
.card-footer{
    background-color: rgb(255,255,255);
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    padding: 0px;
}
 