// CONOCENOS


.card-img-top{
  &:hover  {filter: opacity(.5);}
}

.row {
    margin-top: 30px;
  

}


@media (max-width: 40rem) {
  .row {
    width: 350px;
  }
}



// TIENDA




.main{
    max-width: 1000px;
    margin: 0 auto;
}
  
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
  
.btn {
    color: $light-color;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    border: 1px solid $tertiary-color;
    background: transparent;
    text-align: center;
    &:hover {
      background-color: $secondary-color;
    }
}
  

.btn--2 {
    @extend .btn;
    border: 1px solid $secondary-color;
    color:  $secondary-color;

}
  
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.cards_item {
    display: flex;
    padding: 1rem;
}
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: $light-color;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  }
  
  .card_title {
    color: $light-color;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 0px;
  }
  
  .card_text {
    color: $light-color;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
  
  }
  .made_by{
    font-size: 40px;
    margin-top: 35px;
    text-align: center;
  }



  