@mixin textarea {
    width: 300px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 2px; 
    border-color: $primary-color;   
} 

.contact_formulario{
    background-color: $tertiary-color;
    box-shadow: $box-shadow;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

input{ 
    @include textarea( width, height, border-radius, border-style, border-width, border-color);
    padding: 5px;
}


textarea{
    @include textarea( width, height, border-radius, border-style, border-width, border-color);
    padding-left: 5px; 
}

label{
    display: block; 
    float: center;  
  
} 
.btn{
    text-align: center;
    border-radius: 10px;
    box-shadow: 9px 11px 20px 5px rgba(0,0,0,0.62);;
    background-color: rgb(223, 165, 164);
    justify-content:center 
}

.btn btn-outline-secondary{
    @extend.btn;
    a:active{
        color: $active-color;
    }
}
.card h-100{
    margin-bottom: 15px;
}

.pag-unite{
    background-color: rgb(200, 200, 200);
    background-image: url(../imagenes/backgroundpng.png);
    background-repeat: repeat;
  }

  
  
  





  

  
  
