body {
  margin: 0;
  padding: 0;
  background: $primary-color;
  justify-content: center;
  overflow-x:hidden

}

// INDEX  

.atencion{
    background-image: url(../imagenes/WEB.png);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 300px;
    margin: 20px;
    
   
}

.clearfix {
  margin: 10px;
  padding: 5px;
  .col-md-6 {
    width: 400px;
    height: auto;
  
  }
}



.container {
  margin-top: 30px;
  max-width:600px;
  max-height:350px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  
}
.container:hover img {
  opacity:0.3;
}
.container img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.destacado {
  
  width: 30%;
  height: 100%;
  object-fit:cover;
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}

// CONOCENOS

.conocenos {

  background-image: url(./imagenes/background.jpg);
  background-repeat: no-repeat;
}