footer{
    .me-3{
        font-family: Quicksand;
      }
      .btn btn-outline-light btn-rounded{
        border-radius: 20px;
        background-color:  $secondary-color;
        
      
      }

}
