$primary-color: rgb(238 ,218, 219,);
$secondary-color: rgb (223 ,164, 165,);
$tertiary-color: (105, 105, 105);



$font-sz: (
    'font-xs': 14px,
    'font-s': 18px,
    'font-m': 20px,
    'font-l': 30x,

)